  $font-main: 'Roboto';
  $font-second: 'Raleway';

  $color-white: #ffffff;
  $color-white-transparent: rgba(255, 255, 255, 0.1);
  $color-brand: #2196f3;
  $color-title: #212121;
  $color-black: #000000;
  $color-black-transparent: rgba(0, 0, 0, 0.2);
  $color-gray-dark: #757575;
  $color-gray-light: #afb1b8;
  $color-hero: #c4c4c4;
  $color-footer: #2f303a;
  $color-team: #f5f4fa;
  $color-btn-hover: #188ce8;
  $color-footer-font: rgba(255, 255, 255, 0.6);
  $color-border: #ececec;
  $color-border-close: rgba(0, 0, 0, 0.1);
  $color-border-input: rgba(33, 33, 33, 0.2);
  $color-title-services: rgba(47, 48, 58, 0.8);
  $color-card-description: rgba(33, 150, 243, 0.9);
  $color-placeholder: rgba(117, 117, 117, 0.5);

  $shadow-btn-filter: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  $shadow-btn-hero: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  $shadow-team: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  $shadow-project: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    1px 4px 6px 0 rgba(0, 0, 0, 0.16);
  $shadow-close: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  $gradient-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

